.about-us {
    position: relative;
    top: 40rem;
    img {
        width: 100%;
        height: 44rem;
        object-position: center bottom;
        display: block;
        object-fit: cover;
    }
    .about-text {
        font-family: $font-heading;
        position: absolute;
        width: 27rem;
        color: map-get($colors, body-txt-color);
        margin: 0 auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
            @include text-transform;
            position: relative;
            font-size: 2rem;
            text-align: center;
        }
        p {
            font-size: 1.2rem;
            text-align: center;
            width: 20rem;
            margin: 2rem auto;
            line-height: 1.3;
        }
        a {
            @include a;
            .about-button {
                @include text-transform;
                border: $border-white;
                text-align: center;
                padding-top: 15px;
                width: 10rem;
                height: 3rem;
                margin: 5rem auto;
            }
        }
    }
}

@media(min-width: $breakpoint-tablet) {
    .about-us {
        top: 15rem;
        img {
            height: 30rem;
        }
        .about-text {
            width: 50rem;
            p {
                width: 40rem;
            }
        }
    }
}

@media(min-width: $breakpoint-desktop) {
    .about-us {
        top: 30rem;
    }
    .about-text {
        width: 30rem;
        h2 {
            font-size: 3rem;
        }
        p {
            width: 40rem;
        }
    }
}