.customized-section {
    position: relative;
    top: 45rem;
    padding-bottom: 5rem;
    h2 {
        @include text-transform;
        font-family: $font-heading;
        color: map-get($colors, grey-text);
        width: 13rem;
        margin: 0 auto;
        font-size: 2rem;
        padding: 2rem 0;
        text-align: center;
    }
    p {
        font-family: $font-body;
        width: 28rem;
        margin: 0 auto;
        font-size: 1.3rem;
        text-align: center;
    }
    .image-details {
        display: none;
    }
    .picture-title {
        @include text-transform;
        font-family: $font-heading;
        width: 10rem;
        font-size: 1.7rem;
        text-decoration: none;
        color: map-get($colors, grey-text);
        margin: 1rem;
    }
    a img {
        width: 17rem;
        margin: 1rem;
    }
    .products-wrapper .last {
        border: none;
    }
    .screenings {
        height: 16rem;
        display: flex;
        align-items: center;
        margin: 2rem;
        border-bottom: 2px solid rgb(216, 216, 216);
    }
    @media (min-width: $breakpoint-tablet) {
        h2 {
            width: 30rem;
            color: map-get($colors, bg-dark)
        }
        .first h3 {
            height: 3rem;
        }
        p {
            width: 45rem;
            font-size: 1rem;
        }
        .products-wrapper {
            @include flex-center;
            width: 50rem;
            margin: 3rem auto;
            align-items: stretch;
            height: 15rem;
        }
        .screenings {
            border: none;
            display: block;
            margin: 0;
            align-items: stretch;
            text-align: center;
            height: 15rem
        }
        a img {
            margin: 0;
            width: 10rem;
        }
        a p {
            text-align: center;
            font-size: 1rem;
            width: 10rem;
            margin: 0 auto;
        }
        .image-details {
            display: block;
            text-align: center;
            font-size: 1rem;
            color: map-get($colors, grey-text);
            font-weight: 700;
            padding: 10px;
            margin: 0 auto;
            text-transform: capitalize;
            text-decoration: underline;
        }
        .picture-title h3 {
            text-align: center;
            font-size: 1.5rem;
            color: map-get($colors, bg-light);
            padding: 0 20px;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .customized-section {
        top: 20rem;
        padding-bottom: 5rem;
    }
}

@media (min-width: $breakpoint-desktop) {
    .customized-section {
        height: 30rem;
        a img {
            width: 20rem;
        }
        .products-wrapper {
            width: 90%;
            margin: 0 auto;
        }
    }
}