@charset "utf-8";
// Place your Sass imports here...
footer {
    @include text-transform;
    background-color: map-get($colors, bg-light);
    color: map-get($colors, body-txt-color);
    font-family: $font-heading;
    padding-bottom: 3rem;
    position: relative;
    top: 30rem;
    .logo {
        text-align: center;
        img {
            width: 30%;
        }
    }
    p {
        text-align: center;
    }
    a {
        @include a;
    }
    @media(min-width: $breakpoint-tablet) {
        .final-flex {
            display: flex;
        }
        .logo img {
            width: 10rem;
            margin: 20px;
            margin-bottom: 30px;
        }
    }
}

.footer-contact {
    display: flex;
    img {
        margin: 10px;
        width: 40px;
        height: 40px;
    }
}

@media(min-width: $breakpoint-tablet) {
    footer {
        top: 11rem;
    }
    .footer-contact {
        width: 30rem;
    }
    .final-flex {
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
        align-items: center;
    }
}

.contact-flex {
    display: flex;
    justify-content: space-evenly;
    width: 30rem;
    padding-top: 15px;
    img {
        width: 30px;
        height: 30px;
        margin: 0;
    }
    p {
        margin: 0;
        padding: 5px 10px;
    }
}

.phone,
.email {
    display: flex;
}

@media(min-width: $breakpoint-desktop) {
    footer {
        height: 7rem;
        top: 25rem;
    }
    .desktop-flex {
        display: inline-flex;
        align-items: center;
    }
    .final-flex {
        justify-content: space-evenly;
    }
    .copyright {
        padding-bottom: 10px;
    }
}