@charset "utf-8";

// Place your Sass imports here...
.footer{
    background-color: #009ddc;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 3rem;
}   


.logo{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    
}

.footer-contact{
    display: flex; 

} 

.contact-flex{
    display: inline-flex; 
    justify-content: center;
    width: 30rem;
img{
    width:30px;
    height: 30px;
}
p{
    margin: 0;
    padding: 0 10px;
}
  
}

img{
    width:30%;
    

}

.footer p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}






