.toggle {
    order: 0;
    font-size: 1.5em;
    text-align: right;
    padding: 20px;
    color: black;
    a {
        color: white;
        font-size: 2.5rem;
    }
}

.active .item {
    display: block;
}

@media (min-width: $breakpoint-tablet) {
    .toggle {
        display: none;
    }
}