header {
    font-family: $font-heading;
    color: map-get($colors, body-txt-color);
    .logo-header {
        position: absolute;
        z-index: 10;
        top: 0;
        padding: 10px;
    }
    .logo-header img {
        width: 8rem;
    }
    .header-section {
        display: none;
    }
    @media (min-width: $breakpoint-tablet) {
        .header-section {
            width: 100%;
            margin: 0;
            display: inline-flex;
            justify-content: space-between;
        }
        .logo-header {
            display: none;
        }
        .logo-header-section img {
            width: 10rem;
            margin: 0 auto;
            text-align: center;
        }
        .left-header,
        .right-header {
            display: flex;
            justify-content: space-evenly;
            width: 32rem;
            padding: 10px;
            font-size: .9rem;
        }
        .left-header a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 15px 5px;
        }
        .logo-header-section {
            padding-top: 20px;
            width: 20rem;
            margin: 0 auto;
            text-align: center;
        }
        .right-header {
            margin: 1rem;
            p {
                padding: 5px 10px;
            }
            img {
                width: 20px;
            }
            a {
                @include a;
                text-transform: uppercase;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    header {
        height: 6rem;
        display: flex;
    }
}

@media (min-width: $breakpoint-desktop) {
    header {
        .left-header {
            justify-content: flex-start;
        }
        .right-header {
            justify-content: flex-end;
        }
    }
}