@mixin a {
    color: map-get($colors, body-txt-color);
    text-decoration: none;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@mixin flex-row {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

@mixin ul-base {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin text-transform {
    text-transform: uppercase;
    font-weight: 700;
}

@mixin wave-img {
    height: 8rem;
    width: 100%;
    display: block;
}