nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5.5rem;
    .menu {
        @include flex-column;
        @include ul-base;
        background-color: rgba(0, 0, 0, .5);
    }
    .item {
        display: none;
        position: relative;
        a {
            color: white;
            display: block;
            padding: 10px 0 5px 20px;
            font-size: 1.5rem;
            text-decoration: none;
            font-weight: 700;
            text-align: left;
            font-size: 1.2em;
            text-transform: uppercase;
            line-height: 1.5;
            z-index: 10;
        }
        .active {
            text-align: right;
        }
    }
    @media (min-width: $breakpoint-tablet) {
        .menu {
            @include flex-row;
            justify-content: space-evenly;
            position: relative;
            top: 6.5rem;
            width: 94%;
            margin: 0 auto;
            height: 3rem;
            .item {
                display: flex;
                border: none;
                padding-top: 5px;
            }
            .hide {
                display: none;
            }
        }
        .item a {
            font-weight: 100;
        }
        .menu li {
            padding: 0 5px;
            font-size: .8rem;
            font-family: 'Roboto Condensed', sans-serif;
        }
    }
}

.fa {
    background-color: black;
    padding: 20px;
    //border-radius: $border-circle;
    color: white;
}

.logo-header img {
    width: 150px;
    z-index: 24;
}

@media (min-width: $breakpoint-tablet) {
    .nav {
        background-color: transparent;
        color: white;
        a {
            color: white;
            text-decoration: none;
        }
    }
}