@charset "utf-8";
// Place your Sass imports here...
.product-advisor {
    text-align: center;
    background-color: map-get($colors, bg-dark);
    font-family: $font-body;
    padding: 1.3rem 1rem;
    color: map-get($colors, body-txt-color);
    position: relative;
    top: 40rem;
    h2 {
        @include text-transform;
        font-size: 1.8rem;
        padding: 10px;
    }
    h3 {
        font-size: 1.3rem;
        padding: 10px;
        margin-bottom: 2rem;
    }
    p {
        text-align: left;
        padding: 10px;
        font-weight: 700;
    }
    hr {
        width: 96%;
    }
    select {
        width: 98%;
        height: 3.5rem;
        background-color: #bbbbbb;
        color: #646464;
    }
    .select {
        margin-top: 2rem;
    }
    #product-type {
        background-color: #edeeee;
    }
    .products-button {
        text-transform: uppercase;
        background-color: map-get($colors, bg-light);
        font-family: $font-body;
        margin-top: 5rem;
        width: 98%;
        height: 3rem;
        color: white;
        margin-bottom: 4rem;
        border: none;
        font-size: 1.2rem;
    }
    .products-button:hover {
        cursor: pointer;
    }
    // arrow style
    #custom-select select {
        /* Hide default arrow */
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        /* Style the dropdown box */
    }
    #custom-select {
        position: relative;
        width: 98%;
        color: #696969;
        /* optional */
    }
    #custom-select select,
    #custom-select::after {
        height: 60px;
        font-size: 1.3rem;
        padding-left: 10px;
    }
    #custom-select::after {
        content: "\25bc";
        /* HTML symbol */
        /* Reposition */
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 10px;
        line-height: 40px;
        /* Vertical center text */
    }
}

@media(min-width: $breakpoint-tablet) {
    .product-advisor {
        top: 15rem;
        .select {
            margin-top: 0;
        }
        select {
            width: 98%;
            height: 2.5rem;
        }
        .products-button {
            width: 98%;
            margin: 2rem auto;
            border: none;
            font-size: 1.2rem;
        }
        #custom-select {
            color: map-get($colors, bg-light);
        }
    }
    .grid-map {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin: 1rem 0;
    }
    .product-advisor h3 {
        color: #429BD6;
    }
}

@media(min-width: $breakpoint-desktop) {
    .grid-map {
        display: flex;
        justify-content: space-evenly;
    }
    .product-advisor {
        top: 30rem;
        select {
            width: 16rem;
        }
        p {
            text-align: left;
            padding-left: 4px;
        }
        h3 {
            color: map-get($colors, bg-light);
        }
    }
}