.slide {
    display: none;
    text-align: center;
    position: absolute;
    z-index: -1;
    top: 0;
    img {
        width: 100%;
        height: 55rem;
        object-position: center bottom;
        display: block;
        object-fit: cover;
    }
}

.slide-container {
    background-color: transparent;
}

.dots {
    position: relative;
    top: -10rem;
    text-align: center;
    margin: 0;
    padding: 0;
    background: transparent;
    z-index: 100;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    z-index: 100;
}

.dots:hover {
    background-color: #062a9e;
}

@media (min-width: $breakpoint-tablet) {
    .slide {
        img {
            height: 35rem;
        }
    }
    .dots {
        top: -27rem;
    }
    .dot {
        height: 15px;
        width: 15px;
        margin: 5px;
    }
}

@media (min-width: $breakpoint-desktop) {
    .dot {
        top: 25rem;
        height: 12px;
        width: 12px;
    }
}

// ==============================================
#wrap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#photos {
    position: relative;
    width: 100%;
    height: 55rem;
    clear: both;
    z-index: -1;
}

#photos img {
    position: absolute;
    z-index: -3;
}

#photos img.previous {
    z-index: -2;
}

#photos img.current {
    z-index: -1;
}

#switch {
    cursor: pointer;
}

#dots {
    padding: 0;
    position: relative;
    top: -10rem;
    z-index: 100;
}

#dots li {
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}

#dots li {
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-position: 10 10;
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    z-index: 100;
}

#dots li:hover,
#dots li.selected {
    color: #062a9e;
}