.page-title {
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    z-index: -1;
    h1 {
        width: 32rem;
        font-size: 2.7rem;
        font-weight: bold;
        margin: 5rem auto;
    }
    .mainButtons {
        font-family: 'Roboto', sans-serif;
        width: 13rem;
        height: 3rem;
        padding-top: 10px;
        margin: 2rem auto;
        font-size: 1.3rem;
        border: 2px solid white;
    }
    .title-btn {
        margin-top: 2rem;
    }
}

@media(min-width: $breakpoint-tablet) {
    .page-title {
        top: 40%;
        h1 {
            width: 35rem;
            font-size: 2.5rem;
            margin: 0 auto;
        }
        .mainButtons {
            margin-top: 2rem;
            width: 10rem;
            height: 3rem;
            padding-top: 15px;
            margin: 2rem 1rem;
            font-size: 1rem;
        }
    }
    .title-btn {
        display: flex;
        justify-content: center;
    }
}

//@media(min-width: $breakpoint-desktop)