.page-title {
    @include text-transform;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: $font-heading;
    z-index: -1;
    h1 {
        @include text-transform;
        width: 32rem;
        font-size: 2.7rem;
        margin: 5rem auto;
    }
    .mainButtons {
        display: block;
        @include a;
        font-family: $font-body;
        width: 13rem;
        height: 3rem;
        padding-top: 10px;
        margin: 2rem auto;
        font-size: 1.3rem;
        border: $border-white;
    }
    .title-btn {
        margin-top: 2rem;
    }
}

@media(min-width: $breakpoint-tablet) {
    .page-title {
        top: 40%;
        h1 {
            width: 35rem;
            font-size: 2.5rem;
            margin: 0 auto;
        }
        .mainButtons {
            margin-top: 2rem;
            width: 10rem;
            height: 3rem;
            padding-top: 15px;
            margin: 2rem 1rem;
            font-size: 1rem;
        }
    }
    .title-btn {
        @include flex-center;
    }
}

@media(min-width: $breakpoint-desktop) {
    .page-title {
        top: 38%;
        h1 {
            font-size: 3rem;
            width: 40rem;
        }
        .mainButtons {
            height: 2rem;
            font-size: .8rem;
            padding-top: 7px;
        }
    }
}