//globally scoped variables
//font variables
$font-heading: 'Roboto Condensed',
sans-serif;
$font-body: 'Roboto',
sans-serif;
//general element styling
$border-white: 2px solid white;
$border-grey: 2px solid#504f4f;
//colors
$colors: (bg-dark: #154a66, bg-light: #009ddc, body-txt-color: #ffffff, grey-text: #504f4f, );
//media query breakpoints
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;