//globally scoped variables
//font variables
$body-font: 'Roboto',
sans-serif;
$heading-font: 'Roboto Condensed',
sans-serif;
// $line-height: 1.4;
// $font-size: 2rem;
//spacing
//$padding: 30px;
//general element styling
// $box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.75);
// $border-circle: 50%;
//$border: 1px solid lightgrey;
//utility varirables
//$img-full: 100%;
//colors
//$colors: (body-bg: #e9e7f0, body-txt-color: #5e5aa7, icon-bg: #efefef, hover-color: #9ae0ec, wrapper-bg-color: #fff);
//media query breakpoints
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;