.wave-white {
    position: relative;
    top: 47rem;
    object-fit: cover;
    object-position: left;
    img {
        @include wave-img;
    }
}

.wave-dark {
    position: relative;
    top: 40rem;
    img {
        @include wave-img;
    }
}

.wave-light {
    background-color: transparent;
    top: 32rem;
    position: relative;
    img {
        @include wave-img;
    }
}

@media (min-width: $breakpoint-tablet) {
    .wave-white {
        top: 23rem;
    }
    .wave-light {
        background: transparent;
        top: 11rem;
    }
    .wave-dark {
        top: 18rem;
    }
}

@media (min-width: $breakpoint-desktop) {
    .wave-light {
        top: 26rem;
        background: transparent;
    }
    .wave-dark {
        top: 30rem;
    }
}