.wave-white {
    position: relative;
    top: 47rem;
    object-fit: cover;
    img {
        height: 8rem;
        width: 100%;
        display: block;
    }
}

.wave-dark {
    position: relative;
    top: 40rem;
    img {
        height: 8rem;
        width: 100%;
        display: block;
    }
}

.wave-light {
    background-color: transparent;
    top: 32rem;
    position: relative;
    img {
        height: 8rem;
        width: 100%;
        display: block;
    }
}

@media (min-width: $breakpoint-tablet) {
    .wave-white {
        top: 23rem;
    }
    .wave-light {
        background: transparent;
        top: 11rem;
    }
    .wave-dark {
        top: 18rem;
    }
}

@media (min-width: $breakpoint-desktop) {
    .wave-light {
        top: 20rem;
        background: transparent;
    }
}