@charset "utf-8";

// Place your Sass imports here...
.product-advisor {
    text-align: center;
    background-color: #154a66;
    font-family: 'Roboto', sans-serif;
    padding-top: 1.3rem;   
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}
h3 {
    color: white;
    font-family:'Roboto', sans-serif;
}
.product-advisor p{
    text-align: left;
    color: white;
    font-family: 'Roboto', sans-serif;
}

hr{
    width:96%;
}

select{
    width: 98%;
    height: 2.5rem;
    background-color: #bbbbbb ;  
    color: #646464; 
    
    
    
}

#product-type{
    background-color:#edeeee ;
}

.products-button{
    background-color:#429bd6 ;
    margin-top: 3rem;
    width: 98%;
    height: 2.5rem;  
    color: white;
    margin-bottom: 4rem;
    font-family: 'Roboto', sans-serif;
}





